@page
@model Web_Bank.Pages.Admin.ManageUserRolesModel
@{
}
<div class="container-fluid px-4">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <h2>Manage User Roles</h2>
                Add/Remove Roles for User 
            </div>
            <div class="card-body">
                
                @for (int i = 0; i < Model.userRoles.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model.userRoles[i].RoleId" />
                        <input type="hidden" asp-for="@Model.userRoles[i].RoleName" />
                        <input asp-for="@Model.userRoles[i].Selected" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model.userRoles[i].Selected">
                            @Model.userRoles[i].RoleName
                        </label>
                    </div>
                }
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="card-footer">
            
                <input type="submit" value="Submit"  asp-page-handler="Update" asp-route-userId =@Model.userId class="btn btn-primary" style="width:auto"/>
                <a asp-page="./UserRoles" class="btn btn-primary" style="width:auto">Cancel</a>
            </div>
        </div>
    </form>
</div>