@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Web_Bank.Pages.CustomerAccounts.IndexModel
@{
}
<div class="container-fluid px-4">
    
    <div class="row justify-content-between">
        <div class="col-6 col-md-6 mt-4">            
            <img  src="@Model.ViewModelAccounts.photo" height="100" width="100" alt="" class="rounded-circle" />
        </div>        
    </div>
    <h1 class="mt-4">@Model.ViewModelAccounts.Surname @Model.ViewModelAccounts.Givenname</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Customer's Number: @Model.ViewModelAccounts.Id</li>
    </ol>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="col-xl-3 col-md-6">
                <div class="badge rounded-pill bg-info text-dark mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Total Balance</h5>
                         <h5 class="card-text">@Model.Total $</h5>
                    </div>                
                </div>
            </div>
        </div>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
        <div class="col-7">
            <a class="btn btn-danger" asp-route-customerId = "@Model.ViewModelAccounts.Id" asp-page="./Withdraw">Withdraw</a>
            <a class="btn btn-success" asp-route-customerId = "@Model.ViewModelAccounts.Id" asp-page="./Deposit">Deposit</a>
            <a class="btn btn-warning" asp-route-customerId = "@Model.ViewModelAccounts.Id" asp-page="./Transfer">Transfer</a>
        </div>
            }
    </div>
    <div class="row">
        @foreach (var item in @Model.ViewModelAccounts.Accounts)
        {
            
            <div class="col-xl-4 col-md-6">
            <div class="card text-center mb-4">
                <div class="card-header bg-info">
                    @item.AccountType
                </div>
                <div class="card-body">
                    <h5 class="card-title"> @((int)item.Balance) $ </h5>
                    <a class="small stretched-link" asp-route-customerId= "@Model.ViewModelAccounts.Id" asp-route-accountId ="@item.Id" asp-page="/CustomerAccounts/Transactions">See Transactions</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
                <div class="card-footer text-muted">
                    Account created: @item.Created
                  </div>
            </div>
        </div>
        
        }     
        
    </div>                   
</div>
