@page
@model Web_Bank.Pages.CustomerAccounts.TransactionsModel
@{
}
<div class="container-fluid px-4">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Type</th>
      <th scope="col">Operation</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">NewBalance</th>
    </tr>
  </thead>
  <tbody>
      
    @foreach (var item in @Model.AllTransactions)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Type</td>
            <td>@item.Operation</td>
            <td>@item.Date</td>
            <td>@item.Amount</td>
            <td>@item.NewBalance</td>
        </tr>
    }   
  </tbody>
</table>
</div>