@page
@model Web_Bank.Pages.Customer.IndexModel
@{
}
<div class="container-fluid px-4">
    <h1 class="mt-4">All Customers</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">All Customers</li>
    </ol>
    
    <div class="card mb-4">
        
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Given Name</th>
                        <th>Surname</th>
                        <th>NationalId</th> 
                        <th>Street Address</th>
                        <th>City</th>
                        <th>Accounts</th>
                        <th>Edit</th>
                        <th>Detail</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                                   
                <tbody>
                    @foreach (var customer in Model.Customers)
                    {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.Givenname</td>
                        <td>@customer.Surname</td>
                        <td>@customer.NationalId</td>
                        <td>@customer.Streetaddress</td>
                        <td>@customer.City</td>
                        <td><a asp-page="../CustomerAccounts/Index" asp-route-customerId="@customer.Id"><i class='bx bxs-bank'></i></a></td>
                        <td> <a asp-page="Edit" asp-route-customerId="@customer.Id"><i class='bx bx-edit'></i></a></td>
                        <td><a asp-page="View" asp-route-customerId="@customer.Id"> <i class='bx bxs-user-detail bx-flip-horizontal'></i></a></td>
                        <td><a asp-page="Remove" asp-route-customerId="@customer.Id"><i class='bx bx-user-x'></i></a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>