@page
@model Web_Bank.Pages.Customer.RemoveModel
@{
}
<div class="container-fluid px-4">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.Givenname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.Givenname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.Surname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.Surname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.NationalId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.NationalId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.EmailAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.EmailAddress)
            </dd>
        </dl>
    
        <form method="post">
            <input type="hidden" asp-for="customer.Id" />
            <button type="submit"  class="btn btn-danger"> Delete </button> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</div>