@page
@model Web_Bank.Pages.Customer.ViewModel
@{
}
<div class="container-fluid px-4">
    <h1>Details</h1>

    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.Givenname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.Givenname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.Surname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.Surname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.Streetaddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.Streetaddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.Zipcode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.Zipcode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.Country)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.Country)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.NationalId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.NationalId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.Telephone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.Telephone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.EmailAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.EmailAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customer.Birthday)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customer.Birthday)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-customerId="@Model.customer.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>